openapi: 3.0.0
info:
  title: katana-api-gateway AdditionalCostController SalesOrderAddressController API
  version: 0.0.1
  description: public api
  contact: {}
servers:
- url: https://api.katanamrp.com/v1
tags:
- name: SalesOrderAddressController
paths:
  /sales_order_addresses/{id}:
    patch:
      x-controller-name: SalesOrderAddressController
      x-operation-name: updateById
      tags:
      - SalesOrderAddressController
      responses:
        '200':
          description: Return value of SalesOrderAddressController.updateById
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSalesOrderAddressDto'
        required: true
        x-parameter-index: 1
      operationId: SalesOrderAddressController.updateById
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          format: int32
        required: true
    delete:
      x-controller-name: SalesOrderAddressController
      x-operation-name: deleteById
      tags:
      - SalesOrderAddressController
      responses:
        '200':
          description: Return value of SalesOrderAddressController.deleteById
      operationId: SalesOrderAddressController.deleteById
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          format: int32
        required: true
  /sales_order_addresses:
    post:
      x-controller-name: SalesOrderAddressController
      x-operation-name: createAddress
      tags:
      - SalesOrderAddressController
      responses:
        '200':
          description: Return value of SalesOrderAddressController.createAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSalesOrderAddressDto'
        required: true
      operationId: SalesOrderAddressController.createAddress
    get:
      x-controller-name: SalesOrderAddressController
      x-operation-name: getAllSalesOrderAddresses
      tags:
      - SalesOrderAddressController
      responses:
        '200':
          description: Return value of SalesOrderAddressController.getAllSalesOrderAddresses
      operationId: SalesOrderAddressController.getAllSalesOrderAddresses
      parameters:
      - name: pagination
        in: query
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      - name: dateFilter
        in: query
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      - name: ids
        in: query
        schema:
          type: array
          items:
            type: integer
            maximum: 2147483647
      - name: sales_order_ids
        in: query
        schema:
          type: array
          items:
            type: integer
            maximum: 2147483647
      - name: entity_type
        in: query
        schema:
          type: string
      - name: first_name
        in: query
        schema:
          type: string
      - name: last_name
        in: query
        schema:
          type: string
      - name: company
        in: query
        schema:
          type: string
      - name: line_1
        in: query
        schema:
          type: string
      - name: line_2
        in: query
        schema:
          type: string
      - name: city
        in: query
        schema:
          type: string
      - name: state
        in: query
        schema:
          type: string
      - name: zip
        in: query
        schema:
          type: string
      - name: country
        in: query
        schema:
          type: string
      - name: phone
        in: query
        schema:
          type: string
      - name: include_deleted
        in: query
        schema:
          type: boolean
components:
  schemas:
    CreateSalesOrderAddressDto:
      title: CreateSalesOrderAddressDto
      type: object
      properties:
        first_name:
          type: string
          nullable: true
        last_name:
          type: string
          nullable: true
        company:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        line_1:
          type: string
          nullable: true
        line_2:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        state:
          type: string
          nullable: true
        zip:
          type: string
          nullable: true
        country:
          type: string
          nullable: true
        entity_type:
          type: string
          enum:
          - billing
          - shipping
        sales_order_id:
          type: integer
          maximum: 2147483647
      required:
      - entity_type
      - sales_order_id
      additionalProperties: false
    UpdateSalesOrderAddressDto:
      title: UpdateSalesOrderAddressDto
      type: object
      properties:
        first_name:
          type: string
          nullable: true
        last_name:
          type: string
          nullable: true
        company:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        line_1:
          type: string
          nullable: true
        line_2:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        state:
          type: string
          nullable: true
        zip:
          type: string
          nullable: true
        country:
          type: string
          nullable: true
      additionalProperties: false
