openapi: 3.0.0
info:
  title: katana-api-gateway AdditionalCostController WebhookController API
  version: 0.0.1
  description: public api
  contact: {}
servers:
- url: https://api.katanamrp.com/v1
tags:
- name: WebhookController
paths:
  /webhooks/{id}:
    patch:
      x-controller-name: WebhookController
      x-operation-name: updateWebhook
      tags:
      - WebhookController
      responses:
        '200':
          description: Return value of WebhookController.updateWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWebhookDto'
        required: true
      operationId: WebhookController.updateWebhook
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          format: int32
        required: true
    get:
      x-controller-name: WebhookController
      x-operation-name: getWebhook
      tags:
      - WebhookController
      responses:
        '200':
          description: Return value of WebhookController.getWebhook
      operationId: WebhookController.getWebhook
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          format: int32
        required: true
    delete:
      x-controller-name: WebhookController
      x-operation-name: deleteWebhook
      tags:
      - WebhookController
      responses:
        '200':
          description: Return value of WebhookController.deleteWebhook
      operationId: WebhookController.deleteWebhook
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          format: int32
        required: true
  /webhooks:
    post:
      x-controller-name: WebhookController
      x-operation-name: createWebhook
      tags:
      - WebhookController
      responses:
        '200':
          description: Return value of WebhookController.createWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookDto'
        required: true
      operationId: WebhookController.createWebhook
    get:
      x-controller-name: WebhookController
      x-operation-name: getAllWebhooks
      tags:
      - WebhookController
      responses:
        '200':
          description: Return value of WebhookController.getAllWebhooks
      operationId: WebhookController.getAllWebhooks
      parameters:
      - name: pagination
        in: query
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      - name: ids
        in: query
        schema:
          type: array
          items:
            type: integer
            maximum: 2147483647
      - name: url
        in: query
        schema:
          type: string
      - name: enabled
        in: query
        schema:
          type: boolean
components:
  schemas:
    UpdateWebhookDto:
      title: UpdateWebhookDto
      type: object
      properties:
        url:
          type: string
          pattern: https://*
        subscribed_events:
          type: array
          items:
            type: string
            enum:
            - sales_order.created
            - sales_order.packed
            - sales_order.delivered
            - sales_order.updated
            - sales_order.approved
            - sales_order.deleted
            - sales_order.availability_updated
            - purchase_order.created
            - purchase_order.updated
            - purchase_order.deleted
            - purchase_order.partially_received
            - purchase_order.received
            - purchase_order.approved
            - purchase_order_row.created
            - purchase_order_row.received
            - purchase_order_row.updated
            - purchase_order_row.deleted
            - outsourced_purchase_order.created
            - outsourced_purchase_order.updated
            - outsourced_purchase_order.deleted
            - outsourced_purchase_order.received
            - outsourced_purchase_order.approved
            - outsourced_purchase_order_row.created
            - outsourced_purchase_order_row.updated
            - outsourced_purchase_order_row.deleted
            - outsourced_purchase_order_row.received
            - outsourced_purchase_order_recipe_row.created
            - outsourced_purchase_order_recipe_row.updated
            - outsourced_purchase_order_recipe_row.deleted
            - manufacturing_order.created
            - manufacturing_order.updated
            - manufacturing_order.deleted
            - manufacturing_order.in_progress
            - manufacturing_order.blocked
            - manufacturing_order.done
            - manufacturing_order_recipe_row.created
            - manufacturing_order_recipe_row.updated
            - manufacturing_order_recipe_row.deleted
            - manufacturing_order_recipe_row.ingredients_in_stock
            - manufacturing_order_operation_row.created
            - manufacturing_order_operation_row.updated
            - manufacturing_order_operation_row.deleted
            - manufacturing_order_operation_row.in_progress
            - manufacturing_order_operation_row.paused
            - manufacturing_order_operation_row.blocked
            - manufacturing_order_operation_row.completed
            - current_inventory.product_updated
            - current_inventory.material_updated
            - current_inventory.product_out_of_stock
            - current_inventory.material_out_of_stock
            - product.created
            - product.updated
            - product.deleted
            - material.created
            - material.updated
            - material.deleted
            - variant.created
            - variant.updated
            - variant.deleted
            - product_recipe_row.created
            - product_recipe_row.deleted
            - product_recipe_row.updated
        description:
          type: string
        enabled:
          type: boolean
      additionalProperties: false
    CreateWebhookDto:
      title: CreateWebhookDto
      type: object
      properties:
        url:
          type: string
          pattern: https://*
        subscribed_events:
          type: array
          items:
            type: string
            enum:
            - sales_order.created
            - sales_order.packed
            - sales_order.delivered
            - sales_order.updated
            - sales_order.approved
            - sales_order.deleted
            - sales_order.availability_updated
            - purchase_order.created
            - purchase_order.updated
            - purchase_order.deleted
            - purchase_order.partially_received
            - purchase_order.received
            - purchase_order.approved
            - purchase_order_row.created
            - purchase_order_row.received
            - purchase_order_row.updated
            - purchase_order_row.deleted
            - outsourced_purchase_order.created
            - outsourced_purchase_order.updated
            - outsourced_purchase_order.deleted
            - outsourced_purchase_order.received
            - outsourced_purchase_order.approved
            - outsourced_purchase_order_row.created
            - outsourced_purchase_order_row.updated
            - outsourced_purchase_order_row.deleted
            - outsourced_purchase_order_row.received
            - outsourced_purchase_order_recipe_row.created
            - outsourced_purchase_order_recipe_row.updated
            - outsourced_purchase_order_recipe_row.deleted
            - manufacturing_order.created
            - manufacturing_order.updated
            - manufacturing_order.deleted
            - manufacturing_order.in_progress
            - manufacturing_order.blocked
            - manufacturing_order.done
            - manufacturing_order_recipe_row.created
            - manufacturing_order_recipe_row.updated
            - manufacturing_order_recipe_row.deleted
            - manufacturing_order_recipe_row.ingredients_in_stock
            - manufacturing_order_operation_row.created
            - manufacturing_order_operation_row.updated
            - manufacturing_order_operation_row.deleted
            - manufacturing_order_operation_row.in_progress
            - manufacturing_order_operation_row.paused
            - manufacturing_order_operation_row.blocked
            - manufacturing_order_operation_row.completed
            - current_inventory.product_updated
            - current_inventory.material_updated
            - current_inventory.product_out_of_stock
            - current_inventory.material_out_of_stock
            - product.created
            - product.updated
            - product.deleted
            - material.created
            - material.updated
            - material.deleted
            - variant.created
            - variant.updated
            - variant.deleted
            - product_recipe_row.created
            - product_recipe_row.deleted
            - product_recipe_row.updated
        description:
          type: string
        enabled:
          type: boolean
      required:
      - url
      - subscribed_events
      additionalProperties: false
