openapi: 3.0.0
info:
  title: katana-api-gateway AdditionalCostController CustomerAddressController API
  version: 0.0.1
  description: public api
  contact: {}
servers:
- url: https://api.katanamrp.com/v1
tags:
- name: CustomerAddressController
paths:
  /customer_addresses/{id}:
    patch:
      x-controller-name: CustomerAddressController
      x-operation-name: updateCustomerAddress
      tags:
      - CustomerAddressController
      responses:
        '200':
          description: Return value of CustomerAddressController.updateCustomerAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerAddressUpdateDto'
        required: true
        x-parameter-index: 1
      operationId: CustomerAddressController.updateCustomerAddress
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          format: int32
        required: true
    delete:
      x-controller-name: CustomerAddressController
      x-operation-name: deleteCustomerAddress
      tags:
      - CustomerAddressController
      responses:
        '200':
          description: Return value of CustomerAddressController.deleteCustomerAddress
      operationId: CustomerAddressController.deleteCustomerAddress
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          format: int32
        required: true
  /customer_addresses:
    post:
      x-controller-name: CustomerAddressController
      x-operation-name: createCustomerAddress
      tags:
      - CustomerAddressController
      responses:
        '200':
          description: Return value of CustomerAddressController.createCustomerAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerAddressCreateDto'
        required: true
      operationId: CustomerAddressController.createCustomerAddress
    get:
      x-controller-name: CustomerAddressController
      x-operation-name: getAllCustomerAddresses
      tags:
      - CustomerAddressController
      responses:
        '200':
          description: Return value of CustomerAddressController.getAllCustomerAddresses
      operationId: CustomerAddressController.getAllCustomerAddresses
      parameters:
      - name: pagination
        in: query
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      - name: dateFilter
        in: query
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      - name: ids
        in: query
        schema:
          type: array
          items:
            type: integer
            maximum: 2147483647
      - name: customer_ids
        in: query
        schema:
          type: array
          items:
            type: integer
            maximum: 2147483647
      - name: entity_type
        in: query
        schema:
          type: string
      - name: first_name
        in: query
        schema:
          type: string
      - name: last_name
        in: query
        schema:
          type: string
      - name: company
        in: query
        schema:
          type: string
      - name: line_1
        in: query
        schema:
          type: string
      - name: line_2
        in: query
        schema:
          type: string
      - name: city
        in: query
        schema:
          type: string
      - name: state
        in: query
        schema:
          type: string
      - name: zip
        in: query
        schema:
          type: string
      - name: country
        in: query
        schema:
          type: string
      - name: phone
        in: query
        schema:
          type: string
      - name: include_deleted
        in: query
        schema:
          type: boolean
components:
  schemas:
    CustomerAddressUpdateDto:
      title: CustomerAddressUpdateDto
      type: object
      properties:
        first_name:
          type: string
          nullable: true
          minLength: 1
        last_name:
          type: string
          nullable: true
          minLength: 1
        company:
          type: string
          nullable: true
          minLength: 1
        phone:
          type: string
          nullable: true
          minLength: 1
        line_1:
          type: string
          nullable: true
          minLength: 1
        line_2:
          type: string
          nullable: true
          minLength: 1
        city:
          type: string
          nullable: true
          minLength: 1
        state:
          type: string
          nullable: true
          minLength: 1
        zip:
          type: string
          nullable: true
          minLength: 1
        country:
          type: string
          nullable: true
          minLength: 1
      additionalProperties: false
    CustomerAddressCreateDto:
      title: CustomerAddressCreateDto
      type: object
      properties:
        entity_type:
          type: string
          enum:
          - billing
          - shipping
        first_name:
          type: string
          nullable: true
        last_name:
          type: string
          nullable: true
        company:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        line_1:
          type: string
          nullable: true
        line_2:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        state:
          type: string
          nullable: true
        zip:
          type: string
          nullable: true
        country:
          type: string
          nullable: true
        customer_id:
          type: integer
          nullable: false
          maximum: 2147483647
          minimum: 1
      required:
      - entity_type
      - customer_id
      additionalProperties: false
