openapi: 3.0.0
info:
  title: katana-api-gateway AdditionalCostController MakeToOrderMOController API
  version: 0.0.1
  description: public api
  contact: {}
servers:
- url: https://api.katanamrp.com/v1
tags:
- name: MakeToOrderMOController
paths:
  /manufacturing_order_make_to_order:
    post:
      x-controller-name: MakeToOrderMOController
      x-operation-name: createMTO
      tags:
      - MakeToOrderMOController
      responses:
        '200':
          description: Return value of MakeToOrderMOController.createMTO
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMakeToOrderManufacturingOrderDto'
        required: true
      operationId: MakeToOrderMOController.createMTO
  /manufacturing_order_rerank:
    post:
      x-controller-name: MakeToOrderMOController
      x-operation-name: rerank
      tags:
      - MakeToOrderMOController
      responses:
        '200':
          description: Return value of MakeToOrderMOController.rerank
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RerankManufacturingOrderDto'
        required: true
      operationId: MakeToOrderMOController.rerank
  /manufacturing_order_unlink:
    post:
      x-controller-name: MakeToOrderMOController
      x-operation-name: unlink
      tags:
      - MakeToOrderMOController
      responses:
        '200':
          description: Return value of MakeToOrderMOController.unlink
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnlinkManufacturingOrderDto'
        required: true
      operationId: MakeToOrderMOController.unlink
components:
  schemas:
    CreateMakeToOrderManufacturingOrderDto:
      title: CreateMakeToOrderManufacturingOrderDto
      type: object
      properties:
        sales_order_row_id:
          type: integer
          maximum: 2147483647
        create_subassemblies:
          type: boolean
          default: false
      required:
      - sales_order_row_id
      additionalProperties: false
    UnlinkManufacturingOrderDto:
      title: UnlinkManufacturingOrderDto
      type: object
      properties:
        sales_order_row_id:
          type: integer
          nullable: false
          maximum: 2147483647
          minimum: 1
      required:
      - sales_order_row_id
      additionalProperties: false
    RerankManufacturingOrderDto:
      title: RerankManufacturingOrderDto
      type: object
      properties:
        order_ids:
          type: array
          minItems: 1
          maxItems: 1
          items:
            type: integer
            minimum: 1
            maximum: 2147483647
        place:
          $ref: '#/components/schemas/RerankPlaceDto'
      required:
      - order_ids
      - place
      additionalProperties: false
    RerankPlaceDto:
      title: RerankPlaceDto
      type: object
      properties:
        before_id:
          type: integer
          nullable: false
          maximum: 2147483647
          minimum: 1
      required:
      - before_id
      additionalProperties: false
