openapi: 3.2.0
info:
  title: katana-api-gateway Serial Number Controller API
  version: 0.0.1
  description: public api
  contact: {}
servers:
- url: https://api.katanamrp.com/v1
tags:
- name: SerialNumberController
paths:
  /serial_numbers/serial_numbers_stock:
    get:
      x-controller-name: SerialNumberController
      x-operation-name: list
      tags:
      - SerialNumberController
      responses:
        '200':
          description: Return value of SerialNumberController.list
      operationId: SerialNumberController.list
      parameters:
      - name: pagination
        in: query
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      summary: Serial number controller list
      x-summary-source: derived
  /serial_numbers:
    post:
      x-controller-name: SerialNumberController
      x-operation-name: addSerialNumbersToEntity
      tags:
      - SerialNumberController
      responses:
        '200':
          description: Return value of SerialNumberController.addSerialNumbersToEntity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddSerialNumbersToEntityDto'
        required: true
      operationId: SerialNumberController.addSerialNumbersToEntity
      summary: Serial number controller add serial numbers to entity
      x-summary-source: derived
    get:
      x-controller-name: SerialNumberController
      x-operation-name: find
      tags:
      - SerialNumberController
      responses:
        '200':
          description: Return value of SerialNumberController.find
      operationId: SerialNumberController.find
      parameters:
      - name: pagination
        in: query
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      - name: resource_type
        in: query
        schema:
          enum:
          - ManufacturingOrder
          - SalesOrderRow
          - Production
          - SalesOrderFulfillmentRow
          - StockAdjustmentRow
          - StockTransferRow
          - PurchaseOrderRow
          type: string
      - name: resource_id
        in: query
        schema:
          type: integer
          format: int32
      summary: Serial number controller find
      x-summary-source: derived
    delete:
      x-controller-name: SerialNumberController
      x-operation-name: deleteFromEntity
      tags:
      - SerialNumberController
      responses:
        '200':
          description: Return value of SerialNumberController.deleteFromEntity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteSerialNumberDto'
        required: true
      operationId: SerialNumberController.deleteFromEntity
      summary: Serial number controller delete from entity
      x-summary-source: derived
components:
  schemas:
    AddSerialNumbersToEntityDto:
      title: AddSerialNumbersToEntityDto
      type: object
      properties:
        resource_id:
          type: integer
          maximum: 2147483647
          minimum: 1
        resource_type:
          type: string
          enum:
          - ManufacturingOrder
          - Production
          - StockAdjustmentRow
          - StockTransferRow
          - PurchaseOrderRow
          - SalesOrderRow
        serial_numbers:
          type: array
          items:
            type: string
      required:
      - resource_id
      additionalProperties: false
    DeleteSerialNumberDto:
      title: DeleteSerialNumberDto
      type: object
      properties:
        resource_id:
          type: integer
          maximum: 2147483647
          minimum: 1
        resource_type:
          type: string
          enum:
          - ManufacturingOrder
          - SalesOrderRow
          - Production
          - SalesOrderFulfillmentRow
          - StockAdjustmentRow
          - StockTransferRow
          - PurchaseOrderRow
        ids:
          type: array
          items:
            type: number
      required:
      - resource_id
      - resource_type
      - ids
      additionalProperties: false
