openapi: 3.0.0
info:
  title: katana-api-gateway AdditionalCostController SalesOrderController API
  version: 0.0.1
  description: public api
  contact: {}
servers:
- url: https://api.katanamrp.com/v1
tags:
- name: SalesOrderController
paths:
  /sales_orders/search:
    post:
      x-controller-name: SalesOrderController
      x-operation-name: searchSalesOrders
      tags:
      - SalesOrderController
      responses:
        '200':
          description: Return value of SalesOrderController.searchSalesOrders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchSalesOrdersDto'
        required: true
      operationId: SalesOrderController.searchSalesOrders
  /sales_orders/{id}/returnable_items:
    get:
      x-controller-name: SalesOrderController
      x-operation-name: getReturnableItems
      tags:
      - SalesOrderController
      responses:
        '200':
          description: Return value of SalesOrderController.getReturnableItems
      operationId: SalesOrderController.getReturnableItems
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          format: int32
        required: true
  /sales_orders/{id}:
    patch:
      x-controller-name: SalesOrderController
      x-operation-name: updateSalesOrder
      tags:
      - SalesOrderController
      responses:
        '200':
          description: Return value of SalesOrderController.updateSalesOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSalesOrderDto'
        required: true
        x-parameter-index: 1
      operationId: SalesOrderController.updateSalesOrder
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          format: int32
        required: true
    get:
      x-controller-name: SalesOrderController
      x-operation-name: getSalesOrder
      tags:
      - SalesOrderController
      responses:
        '200':
          description: Return value of SalesOrderController.getSalesOrder
      operationId: SalesOrderController.getSalesOrder
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          format: int32
        required: true
    delete:
      x-controller-name: SalesOrderController
      x-operation-name: deleteSalesOrder
      tags:
      - SalesOrderController
      responses:
        '200':
          description: Return value of SalesOrderController.deleteSalesOrder
      operationId: SalesOrderController.deleteSalesOrder
      parameters:
      - name: id
        in: path
        schema:
          type: integer
          format: int32
        required: true
  /sales_orders:
    post:
      x-controller-name: SalesOrderController
      x-operation-name: createSalesOrder
      tags:
      - SalesOrderController
      responses:
        '200':
          description: Return value of SalesOrderController.createSalesOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSalesOrderDto'
        required: true
      operationId: SalesOrderController.createSalesOrder
    get:
      x-controller-name: SalesOrderController
      x-operation-name: getAllSalesOrders
      tags:
      - SalesOrderController
      responses:
        '200':
          description: Return value of SalesOrderController.getAllSalesOrders
      operationId: SalesOrderController.getAllSalesOrders
      parameters:
      - name: pagination
        in: query
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      - name: dateFilter
        in: query
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      - name: ids
        in: query
        schema:
          type: array
          items:
            type: integer
            maximum: 2147483647
      - name: order_no
        in: query
        schema:
          type: string
      - name: source
        in: query
        schema:
          type: string
      - name: customer_id
        in: query
        schema:
          type: integer
          format: int32
      - name: location_id
        in: query
        schema:
          type: integer
          format: int32
      - name: invoicing_status
        in: query
        schema:
          type: string
      - name: product_availability
        in: query
        schema:
          enum:
          - IN_STOCK
          - EXPECTED
          - PICKED
          - NOT_AVAILABLE
          - NOT_APPLICABLE
          type: string
      - name: ingredient_availability
        in: query
        schema:
          enum:
          - PROCESSED
          - IN_STOCK
          - NOT_AVAILABLE
          - EXPECTED
          - NO_RECIPE
          - NOT_APPLICABLE
          type: string
      - name: production_status
        in: query
        schema:
          enum:
          - NOT_STARTED
          - NONE
          - NOT_APPLICABLE
          - IN_PROGRESS
          - BLOCKED
          - DONE
          type: string
      - name: status
        in: query
        schema:
          type: string
      - name: currency
        in: query
        schema:
          type: string
      - name: ecommerce_order_type
        in: query
        schema:
          type: string
      - name: ecommerce_store_name
        in: query
        schema:
          type: string
      - name: ecommerce_order_id
        in: query
        schema:
          type: string
      - name: include_deleted
        in: query
        schema:
          type: boolean
components:
  schemas:
    UpdateSalesOrderDto:
      title: UpdateSalesOrderDto
      type: object
      properties:
        order_no:
          type: string
          minLength: 1
        customer_id:
          type: integer
          nullable: false
          maximum: 2147483647
          minimum: 1
        customer_ref:
          type: string
          nullable: true
        order_created_date:
          type: string
        delivery_date:
          type: string
        picked_date:
          type: string
        location_id:
          type: integer
          nullable: false
          maximum: 2147483647
          minimum: 1
        status:
          type: string
          nullable: false
          enum:
          - PENDING
          - NOT_SHIPPED
          - PACKED
          - DELIVERED
        currency:
          type: string
        conversion_rate:
          type: number
        conversion_date:
          type: string
        additional_info:
          type: string
          nullable: true
        tracking_number:
          type: string
          nullable: true
          minLength: 1
          maxLength: 256
        tracking_number_url:
          type: string
          nullable: true
          minLength: 1
          maxLength: 2048
        custom_fields:
          type: object
          nullable: true
          additionalProperties: true
      additionalProperties: false
    SearchSalesOrdersDto:
      title: SearchSalesOrdersDto
      type: object
      properties:
        filter:
          type: object
          additionalProperties: false
          properties:
            where:
              type: object
              properties:
                and:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                or:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                id:
                  anyOf:
                  - type: string
                    maxLength: 256
                  - type: number
                  - type: boolean
                  - type: 'null'
                  - type: object
                    properties:
                      neq:
                        description: Not equal
                      gt:
                        description: Greater than
                      gte:
                        description: Greater than or equal
                      lt:
                        description: Less than
                      lte:
                        description: Less than or equal
                      inq:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is in this list
                      nin:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is not in this list
                      between:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        minItems: 2
                        maxItems: 2
                        description: Inclusive range [low, high]
                      like:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-sensitive (`%` and `_` wildcards)
                      ilike:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-insensitive — UI `contains` / `starts with` / `ends with`
                    additionalProperties: false
                order_no:
                  anyOf:
                  - type: string
                    maxLength: 256
                  - type: number
                  - type: boolean
                  - type: 'null'
                  - type: object
                    properties:
                      neq:
                        description: Not equal
                      gt:
                        description: Greater than
                      gte:
                        description: Greater than or equal
                      lt:
                        description: Less than
                      lte:
                        description: Less than or equal
                      inq:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is in this list
                      nin:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is not in this list
                      between:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        minItems: 2
                        maxItems: 2
                        description: Inclusive range [low, high]
                      like:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-sensitive (`%` and `_` wildcards)
                      ilike:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-insensitive — UI `contains` / `starts with` / `ends with`
                    additionalProperties: false
                customer_id:
                  anyOf:
                  - type: string
                    maxLength: 256
                  - type: number
                  - type: boolean
                  - type: 'null'
                  - type: object
                    properties:
                      neq:
                        description: Not equal
                      gt:
                        description: Greater than
                      gte:
                        description: Greater than or equal
                      lt:
                        description: Less than
                      lte:
                        description: Less than or equal
                      inq:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is in this list
                      nin:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is not in this list
                      between:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        minItems: 2
                        maxItems: 2
                        description: Inclusive range [low, high]
                      like:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-sensitive (`%` and `_` wildcards)
                      ilike:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-insensitive — UI `contains` / `starts with` / `ends with`
                    additionalProperties: false
                customer_ref:
                  anyOf:
                  - type: string
                    maxLength: 256
                  - type: number
                  - type: boolean
                  - type: 'null'
                  - type: object
                    properties:
                      neq:
                        description: Not equal
                      gt:
                        description: Greater than
                      gte:
                        description: Greater than or equal
                      lt:
                        description: Less than
                      lte:
                        description: Less than or equal
                      inq:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is in this list
                      nin:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is not in this list
                      between:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        minItems: 2
                        maxItems: 2
                        description: Inclusive range [low, high]
                      like:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-sensitive (`%` and `_` wildcards)
                      ilike:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-insensitive — UI `contains` / `starts with` / `ends with`
                    additionalProperties: false
                location_id:
                  anyOf:
                  - type: string
                    maxLength: 256
                  - type: number
                  - type: boolean
                  - type: 'null'
                  - type: object
                    properties:
                      neq:
                        description: Not equal
                      gt:
                        description: Greater than
                      gte:
                        description: Greater than or equal
                      lt:
                        description: Less than
                      lte:
                        description: Less than or equal
                      inq:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is in this list
                      nin:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is not in this list
                      between:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        minItems: 2
                        maxItems: 2
                        description: Inclusive range [low, high]
                      like:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-sensitive (`%` and `_` wildcards)
                      ilike:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-insensitive — UI `contains` / `starts with` / `ends with`
                    additionalProperties: false
                status:
                  anyOf:
                  - type: string
                    maxLength: 256
                  - type: number
                  - type: boolean
                  - type: 'null'
                  - type: object
                    properties:
                      neq:
                        description: Not equal
                      gt:
                        description: Greater than
                      gte:
                        description: Greater than or equal
                      lt:
                        description: Less than
                      lte:
                        description: Less than or equal
                      inq:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is in this list
                      nin:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is not in this list
                      between:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        minItems: 2
                        maxItems: 2
                        description: Inclusive range [low, high]
                      like:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-sensitive (`%` and `_` wildcards)
                      ilike:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-insensitive — UI `contains` / `starts with` / `ends with`
                    additionalProperties: false
                invoicing_status:
                  anyOf:
                  - type: string
                    maxLength: 256
                  - type: number
                  - type: boolean
                  - type: 'null'
                  - type: object
                    properties:
                      neq:
                        description: Not equal
                      gt:
                        description: Greater than
                      gte:
                        description: Greater than or equal
                      lt:
                        description: Less than
                      lte:
                        description: Less than or equal
                      inq:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is in this list
                      nin:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is not in this list
                      between:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        minItems: 2
                        maxItems: 2
                        description: Inclusive range [low, high]
                      like:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-sensitive (`%` and `_` wildcards)
                      ilike:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-insensitive — UI `contains` / `starts with` / `ends with`
                    additionalProperties: false
                production_status:
                  anyOf:
                  - type: string
                    maxLength: 256
                  - type: number
                  - type: boolean
                  - type: 'null'
                  - type: object
                    properties:
                      neq:
                        description: Not equal
                      gt:
                        description: Greater than
                      gte:
                        description: Greater than or equal
                      lt:
                        description: Less than
                      lte:
                        description: Less than or equal
                      inq:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is in this list
                      nin:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is not in this list
                      between:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        minItems: 2
                        maxItems: 2
                        description: Inclusive range [low, high]
                      like:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-sensitive (`%` and `_` wildcards)
                      ilike:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-insensitive — UI `contains` / `starts with` / `ends with`
                    additionalProperties: false
                source:
                  anyOf:
                  - type: string
                    maxLength: 256
                  - type: number
                  - type: boolean
                  - type: 'null'
                  - type: object
                    properties:
                      neq:
                        description: Not equal
                      gt:
                        description: Greater than
                      gte:
                        description: Greater than or equal
                      lt:
                        description: Less than
                      lte:
                        description: Less than or equal
                      inq:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is in this list
                      nin:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is not in this list
                      between:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        minItems: 2
                        maxItems: 2
                        description: Inclusive range [low, high]
                      like:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-sensitive (`%` and `_` wildcards)
                      ilike:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-insensitive — UI `contains` / `starts with` / `ends with`
                    additionalProperties: false
                currency:
                  anyOf:
                  - type: string
                    maxLength: 256
                  - type: number
                  - type: boolean
                  - type: 'null'
                  - type: object
                    properties:
                      neq:
                        description: Not equal
                      gt:
                        description: Greater than
                      gte:
                        description: Greater than or equal
                      lt:
                        description: Less than
                      lte:
                        description: Less than or equal
                      inq:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is in this list
                      nin:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is not in this list
                      between:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        minItems: 2
                        maxItems: 2
                        description: Inclusive range [low, high]
                      like:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-sensitive (`%` and `_` wildcards)
                      ilike:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-insensitive — UI `contains` / `starts with` / `ends with`
                    additionalProperties: false
                product_availability:
                  anyOf:
                  - type: string
                    maxLength: 256
                  - type: number
                  - type: boolean
                  - type: 'null'
                  - type: object
                    properties:
                      neq:
                        description: Not equal
                      gt:
                        description: Greater than
                      gte:
                        description: Greater than or equal
                      lt:
                        description: Less than
                      lte:
                        description: Less than or equal
                      inq:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is in this list
                      nin:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is not in this list
                      between:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        minItems: 2
                        maxItems: 2
                        description: Inclusive range [low, high]
                      like:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-sensitive (`%` and `_` wildcards)
                      ilike:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-insensitive — UI `contains` / `starts with` / `ends with`
                    additionalProperties: false
                ingredient_availability:
                  anyOf:
                  - type: string
                    maxLength: 256
                  - type: number
                  - type: boolean
                  - type: 'null'
                  - type: object
                    properties:
                      neq:
                        description: Not equal
                      gt:
                        description: Greater than
                      gte:
                        description: Greater than or equal
                      lt:
                        description: Less than
                      lte:
                        description: Less than or equal
                      inq:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is in this list
                      nin:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is not in this list
                      between:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        minItems: 2
                        maxItems: 2
                        description: Inclusive range [low, high]
                      like:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-sensitive (`%` and `_` wildcards)
                      ilike:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-insensitive — UI `contains` / `starts with` / `ends with`
                    additionalProperties: false
                ecommerce_order_type:
                  anyOf:
                  - type: string
                    maxLength: 256
                  - type: number
                  - type: boolean
                  - type: 'null'
                  - type: object
                    properties:
                      neq:
                        description: Not equal
                      gt:
                        description: Greater than
                      gte:
                        description: Greater than or equal
                      lt:
                        description: Less than
                      lte:
                        description: Less than or equal
                      inq:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is in this list
                      nin:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is not in this list
                      between:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        minItems: 2
                        maxItems: 2
                        description: Inclusive range [low, high]
                      like:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-sensitive (`%` and `_` wildcards)
                      ilike:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-insensitive — UI `contains` / `starts with` / `ends with`
                    additionalProperties: false
                ecommerce_store_name:
                  anyOf:
                  - type: string
                    maxLength: 256
                  - type: number
                  - type: boolean
                  - type: 'null'
                  - type: object
                    properties:
                      neq:
                        description: Not equal
                      gt:
                        description: Greater than
                      gte:
                        description: Greater than or equal
                      lt:
                        description: Less than
                      lte:
                        description: Less than or equal
                      inq:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is in this list
                      nin:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is not in this list
                      between:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        minItems: 2
                        maxItems: 2
                        description: Inclusive range [low, high]
                      like:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-sensitive (`%` and `_` wildcards)
                      ilike:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-insensitive — UI `contains` / `starts with` / `ends with`
                    additionalProperties: false
                ecommerce_order_id:
                  anyOf:
                  - type: string
                    maxLength: 256
                  - type: number
                  - type: boolean
                  - type: 'null'
                  - type: object
                    properties:
                      neq:
                        description: Not equal
                      gt:
                        description: Greater than
                      gte:
                        description: Greater than or equal
                      lt:
                        description: Less than
                      lte:
                        description: Less than or equal
                      inq:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is in this list
                      nin:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is not in this list
                      between:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        minItems: 2
                        maxItems: 2
                        description: Inclusive range [low, high]
                      like:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-sensitive (`%` and `_` wildcards)
                      ilike:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-insensitive — UI `contains` / `starts with` / `ends with`
                    additionalProperties: false
                tracking_number:
                  anyOf:
                  - type: string
                    maxLength: 256
                  - type: number
                  - type: boolean
                  - type: 'null'
                  - type: object
                    properties:
                      neq:
                        description: Not equal
                      gt:
                        description: Greater than
                      gte:
                        description: Greater than or equal
                      lt:
                        description: Less than
                      lte:
                        description: Less than or equal
                      inq:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is in this list
                      nin:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is not in this list
                      between:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        minItems: 2
                        maxItems: 2
                        description: Inclusive range [low, high]
                      like:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-sensitive (`%` and `_` wildcards)
                      ilike:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-insensitive — UI `contains` / `starts with` / `ends with`
                    additionalProperties: false
                created_at:
                  anyOf:
                  - type: string
                    maxLength: 256
                  - type: number
                  - type: boolean
                  - type: 'null'
                  - type: object
                    properties:
                      neq:
                        description: Not equal
                      gt:
                        description: Greater than
                      gte:
                        description: Greater than or equal
                      lt:
                        description: Less than
                      lte:
                        description: Less than or equal
                      inq:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is in this list
                      nin:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is not in this list
                      between:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        minItems: 2
                        maxItems: 2
                        description: Inclusive range [low, high]
                      like:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-sensitive (`%` and `_` wildcards)
                      ilike:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-insensitive — UI `contains` / `starts with` / `ends with`
                    additionalProperties: false
                updated_at:
                  anyOf:
                  - type: string
                    maxLength: 256
                  - type: number
                  - type: boolean
                  - type: 'null'
                  - type: object
                    properties:
                      neq:
                        description: Not equal
                      gt:
                        description: Greater than
                      gte:
                        description: Greater than or equal
                      lt:
                        description: Less than
                      lte:
                        description: Less than or equal
                      inq:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is in this list
                      nin:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is not in this list
                      between:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        minItems: 2
                        maxItems: 2
                        description: Inclusive range [low, high]
                      like:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-sensitive (`%` and `_` wildcards)
                      ilike:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-insensitive — UI `contains` / `starts with` / `ends with`
                    additionalProperties: false
                order_created_date:
                  anyOf:
                  - type: string
                    maxLength: 256
                  - type: number
                  - type: boolean
                  - type: 'null'
                  - type: object
                    properties:
                      neq:
                        description: Not equal
                      gt:
                        description: Greater than
                      gte:
                        description: Greater than or equal
                      lt:
                        description: Less than
                      lte:
                        description: Less than or equal
                      inq:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is in this list
                      nin:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is not in this list
                      between:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        minItems: 2
                        maxItems: 2
                        description: Inclusive range [low, high]
                      like:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-sensitive (`%` and `_` wildcards)
                      ilike:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-insensitive — UI `contains` / `starts with` / `ends with`
                    additionalProperties: false
                delivery_date:
                  anyOf:
                  - type: string
                    maxLength: 256
                  - type: number
                  - type: boolean
                  - type: 'null'
                  - type: object
                    properties:
                      neq:
                        description: Not equal
                      gt:
                        description: Greater than
                      gte:
                        description: Greater than or equal
                      lt:
                        description: Less than
                      lte:
                        description: Less than or equal
                      inq:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is in this list
                      nin:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is not in this list
                      between:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        minItems: 2
                        maxItems: 2
                        description: Inclusive range [low, high]
                      like:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-sensitive (`%` and `_` wildcards)
                      ilike:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-insensitive — UI `contains` / `starts with` / `ends with`
                    additionalProperties: false
                picked_date:
                  anyOf:
                  - type: string
                    maxLength: 256
                  - type: number
                  - type: boolean
                  - type: 'null'
                  - type: object
                    properties:
                      neq:
                        description: Not equal
                      gt:
                        description: Greater than
                      gte:
                        description: Greater than or equal
                      lt:
                        description: Less than
                      lte:
                        description: Less than or equal
                      inq:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is in this list
                      nin:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is not in this list
                      between:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        minItems: 2
                        maxItems: 2
                        description: Inclusive range [low, high]
                      like:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-sensitive (`%` and `_` wildcards)
                      ilike:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-insensitive — UI `contains` / `starts with` / `ends with`
                    additionalProperties: false
                custom_fields:
                  anyOf:
                  - type: string
                    maxLength: 256
                  - type: number
                  - type: boolean
                  - type: 'null'
                  - type: object
                    properties:
                      neq:
                        description: Not equal
                      gt:
                        description: Greater than
                      gte:
                        description: Greater than or equal
                      lt:
                        description: Less than
                      lte:
                        description: Less than or equal
                      inq:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is in this list
                      nin:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is not in this list
                      between:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        minItems: 2
                        maxItems: 2
                        description: Inclusive range [low, high]
                      like:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-sensitive (`%` and `_` wildcards)
                      ilike:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-insensitive — UI `contains` / `starts with` / `ends with`
                    additionalProperties: false
              patternProperties:
                ^custom_fields\..+$:
                  anyOf:
                  - type: string
                    maxLength: 256
                  - type: number
                  - type: boolean
                  - type: 'null'
                  - type: object
                    properties:
                      neq:
                        description: Not equal
                      gt:
                        description: Greater than
                      gte:
                        description: Greater than or equal
                      lt:
                        description: Less than
                      lte:
                        description: Less than or equal
                      inq:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is in this list
                      nin:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        maxItems: 100
                        description: Value is not in this list
                      between:
                        type: array
                        items:
                          anyOf:
                          - type: string
                            maxLength: 256
                          - type: number
                          - type: boolean
                          - type: 'null'
                        minItems: 2
                        maxItems: 2
                        description: Inclusive range [low, high]
                      like:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-sensitive (`%` and `_` wildcards)
                      ilike:
                        type: string
                        maxLength: 256
                        description: SQL LIKE pattern, case-insensitive — UI `contains` / `starts with` / `ends with`
                    additionalProperties: false
              additionalProperties: false
            order:
              oneOf:
              - type: string
              - type: array
                items:
                  type: string
              description: 'Order clause(s). Format: `<field> ASC|DESC`.'
            limit:
              type: integer
              minimum: 0
              maximum: 200
              description: Page size (max 200)
            page:
              type: integer
              minimum: 1
              description: 1-based page number — matches the rest of the public API
      additionalProperties: false
    CreateSalesOrderDto:
      title: CreateSalesOrderDto
      type: object
      properties:
        order_no:
          type: string
          nullable: false
          minLength: 1
        customer_id:
          type: integer
          nullable: false
          minimum: 0
          maximum: 2147483647
        customer_ref:
          type: string
          nullable: true
        sales_order_rows:
          type: array
          items:
            title: CreateSalesOrderRowDto
            type: object
            properties:
              quantity:
                type: number
                nullable: false
                minimum: 0
                maximum: 100000000000000000
              variant_id:
                type: integer
                nullable: false
                maximum: 2147483647
                minimum: 1
              tax_rate_id:
                type: integer
                nullable: false
                maximum: 2147483647
                minimum: 1
              location_id:
                type: integer
                nullable: false
                maximum: 2147483647
                minimum: 1
              attributes:
                type: array
                items:
                  title: CreateSalesOrderRowAttributeDto
                  type: object
                  properties:
                    key:
                      type: string
                    value:
                      type: string
                  required:
                  - key
                  - value
                  additionalProperties: false
                nullable: false
              total_discount:
                type: number
                nullable: false
                minimum: 0
                maximum: 1000000000000000000
              price_per_unit:
                type: number
                nullable: false
                minimum: 0
                maximum: 1000000000000000000
              custom_fields:
                type: object
                nullable: true
                additionalProperties: true
            required:
            - quantity
            - variant_id
            additionalProperties: false
          minItems: 1
        order_created_date:
          type: string
        delivery_date:
          type: string
        location_id:
          type: integer
          nullable: false
          minimum: 0
          maximum: 2147483647
        status:
          type: string
          nullable: false
          enum:
          - PENDING
          - NOT_SHIPPED
        currency:
          type: string
        additional_info:
          type: string
          nullable: true
        tracking_number:
          type: string
          nullable: true
          minLength: 0
          maxLength: 256
        tracking_number_url:
          type: string
          nullable: true
          minLength: 0
          maxLength: 2048
        addresses:
          type: array
          items:
            title: AddressWithinSalesOrderCreateDto
            type: object
            properties:
              entity_type:
                type: string
                nullable: false
                enum:
                - billing
                - shipping
              first_name:
                type: string
                nullable: true
              last_name:
                type: string
                nullable: true
              company:
                type: string
                nullable: true
              phone:
                type: string
                nullable: true
              line_1:
                type: string
                nullable: true
              line_2:
                type: string
                nullable: true
              city:
                type: string
                nullable: true
              state:
                type: string
                nullable: true
              zip:
                type: string
                nullable: true
              country:
                type: string
                nullable: true
            required:
            - entity_type
            additionalProperties: false
          nullable: false
        ecommerce_order_type:
          type: string
          nullable: true
          minLength: 1
        ecommerce_store_name:
          type: string
          nullable: true
          minLength: 1
        ecommerce_order_id:
          type: string
          nullable: true
          minLength: 1
        custom_fields:
          type: object
          nullable: true
          additionalProperties: true
      required:
      - customer_id
      - sales_order_rows
      additionalProperties: false
